body {
 font-family: Arial, sans-serif;
}
#color-to-pick:hover::after {
  content:'click for hint';
}

#container {
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

#newcolor {
  background-color: darkgrey;
  margin:10px;
}


.color-block {
  height:100px;
  width:100px;
  float:left;
}
